#body {
    background-color: gray;
    
}

#line-1 {
    height: 0.5cm; /* Adjust the height based on your preference */
            background-color: #1f1e1e; /* Set the color of the line */
            border: none; /* Remove default border styling */
            margin: 20px 0; /* Adjust the margin to control spacing above and below the line */
}

#container {
    position: absolute;
}

#ugly {
    color: white;
    font-style: italic;
}

#cube {
    width: 155px;
    height: 155px;
    background-color: rgb(0, 255, 255);
    position: relative;
    top: 0;
    left: calc(50% - 25px);
    animation: moveUpDown 4s ease-in-out infinite;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes moveUpDown {
    0%, 100% {
        top: 0;
    }

    50% {
        top: 200px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the canvas is behind the cube */
}

#interactiveButton {
    padding: 15px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: crosshair;
    transition: background-color 0.5s ease;
}

#the-button {
    padding: 15px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#goofy_bear {
    animation: spin 1s ease infinite; /* Added 'infinite' to make it spin continuously */
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}